body{
	margin: 0;
	height: 100vh;
	font-size: 5em;
	font-family: Cambria;
	font-weight: normal;
}

h1{
	text-align: center;
}
h3{
	margin:0px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align:center;
}

table{
	grid-row: 4;
	border-width:2px;
}

.instructions{
	grid-row:7;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);	
	padding: 10px;
	height:50%;
	width:auto;
}
.container{
	max-width: 100%;
	font-size: 14pt;
	font-family:Cambria;
	padding-top: 25px;
	display: grid;
	grid-template-columns: 1fr 1fr
}

.starttext{
	background: #C5E0B4;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);	
	padding: 10px;
	border-radius:15px;
	padding:15px;
	grid-column: 1 / span 3;
	border-style:solid;
	
	
}

.loadblock{
	background: #C5E0B4;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);	
	padding: 10px;
	border-radius:15px;
	padding:15px;
	border-style:solid;
	margin-bottom:10px;
}

.starter{
	max-width:95%;
	position: relative;
	padding: 15px;
	left: 50%;
	transform: translate(-50%,0); 
	border-radius:15px;
	background-color: rgba(255, 255, 255, 0.8);
	animation-name:fall;
	animation-duration:1s;
	animation-timing-function:ease-out;
	grid-column: 1 / span 2;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr
}

.zoomButton{
	font-size:18pt;
	margin-bottom:15px;
	background: #ff8888;
	border-style:solid;
	border-color:black;
}
.zoomButton:hover{
	cursor:pointer;
	background:white;
}
.header{
	grid-column:1 / span 3;
}
.graph{
	grid-row: 3 / span 8;
	grid-column: 2 / span 2;
}

.verify{
	margin:0;
}

@keyframes fall{
	from{opacity:0}
	to{opacity:1}
}
